<% set_title("Listing Off-Site Requests") %>

<div class="page_content">
  <%= new_link_to('New Request', new_off_site_request_path) %>
  <br class="spacing"/>

  <table id="off_site_request_list">
    <tr>
      <th width="1%"></th>
      <th>Hostname</th>
      <th>Submitter</th>
      <th>Sponsoring Department</th>
      <th>Campus Official</th>
      <th>Status</th>
      <th>Created On</th>
      <th>Updated On</th>
    </tr>

    <tbody class="highlight">
      <% @os_reqs.each do |req| %>
        <tr id="<%= dom_id(req) %>">
          <td><%= view_or_edit_link_to(req) %></td>
          <td><%=h req.hostname %></td>
          <td><%=h req.submitter.try(:full_name) %></td>
          <td><%=h req.sponsoring_department %></td>
          <td><%=h req.campus_official.try(:full_name) %></td>
          <td><%=h req.status.try(:name) %></td>
          <td><%=h req.created_at.to_s(:mdy) %></td>
          <td><%=h req.updated_at.to_s(:mdy) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
