<h3>Search Results</h3>

<% if users.empty? %>
  <p>No results were found</p>
<% else %>
  <p>Click on the user's 'Ldap Uid' to populate the form with their data.</p>

  <table id="user_search_results" class="horizontal" style="margin-right:5px;">
    <tr>
      <th width="1%">Ldap Uid</th>
      <th>Full Name</th>
      <th>Department</th>
      <th>Email</th>
      <th><%= eligibility_header(search_for) %></th>
    </tr>
    <tbody class="highlight">
      <% users.each do |u| %>
        <tr id="<%= u.ldap_uid %>" class="<%= ineligible_css(eligible?(search_for, u)) %>">
          <td width="1%" name="ldap_uid">
            <%= ldap_uid_link_or_text(search_for, u) %>
          </td>
          <td name="full_name"><%= u.full_name %></td>
          <td name="department"><%= u.department %></td>
          <td name="email"><%= u.email %></td>
          <td name="eligible"><%= eligible?(search_for, u) ? "Yes" : "No"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
